* {
    padding: 0;
    margin: 0;
    font-family: FuturaPTMedium;
}

@font-face {
    font-family: "FuturaPTMedium";
    font-style: normal;
    font-weight: normal;
    src: local("Tangerine"),
        url("../fonts/FuturaPTMedium.otf") format("truetype");
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    height: 70px;
    border-bottom: 1px solid #e3e3e3;
}

.header__action--left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 70px;
}

.header__action--left button {
    width: 80px;
    height: 33px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.header__action--left button:hover {
    background-color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header__action--left a {
    text-decoration: none;
}

.header__action--right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__action--right button {
    width: 80px;
    height: 33px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.header__action--right button:hover {
    background-color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__content__create--new {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #313f46;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.header__content__create--new button {
    border-radius: 50px;
    height: 50px;
    width: 270px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding-left: 25px;
    outline: none;
    color: #2b3137;
    border: none;
}

.header__content__title {
    width: 449px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    position: relative;
    height: 100%;
}

.header__content__title input {
    border-radius: 15px;
    font-size: 16px;
    height: 40%;
    width: 93%;
    border: 1px solid #cccccc;
    outline: none;
    padding-right: 10px;
    text-indent: 20px;
}

/* .header__content__title input::placeholder{

} */

.header__content__title input::-webkit-input-placeholder {
    color: #cdd6dd;
}

.header__content__title input:-ms-input-placeholder {
    padding-left: 10px;
    color: #cdd6dd;
}

.header__content__title input::-ms-input-placeholder {
    padding-left: 10px;
    color: #cdd6dd;
}

.header__content__title input::placeholder {
    padding-left: 10px;
    color: #cdd6dd;
}

.header__content__title button {
    font-size: 17px;
    background-color: white;
    border: none;
    position: absolute;
    right: 18px;
    width: 40px;
    height: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    right: 13px;
    outline: none;
}

.body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 70px;
}

.body__nav__create--new {
    padding-top: 10px;
    min-height: calc(100vh - 70px);
    min-width: 300px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #313f46;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
}

.body__nav__create--new--Allnodes {
    width: 270px;
    height: 50px;
    margin: auto;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    cursor: pointer;
}

.body__nav__create--new--Allnodes span:nth-child(3) {
    border-radius: 40%;
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #454e55;
    font-size: 15px;
    margin-right: 10px;
}

.body__nav__create--new--Allnodes span:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.body__nav__create--new--Allnodes span:nth-child(1) {
    padding-left: 26px;
    padding-right: 20px;
}

.body__nav__create--new--Allnodes:hover {
    border-radius: 50px;
    background-color: #6f757a;
}

.body__nav__create--new--Category {
    color: white;
}

.body__nav__create--new--Category__title--down--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
}

.body__nav__create--new--Category__title--down--content span:nth-child(3) {
    border-radius: 40%;
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #454e55;
    font-size: 15px;
    margin-right: 10px;
}

.body__nav__create--new--Category__title--down--content span:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.body__nav__create--new--Category__title--down--content span:nth-child(1) {
    padding-left: 20px;
    padding-right: 10px;
}

.body__nav__create--new--Category__title {
    padding-left: 10px;
    height: 50px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.body__nav__create--new--Category__title span:nth-child(1) {
    padding-left: 15px;
    padding-right: 19px;
}

.body__nav__create--new--Category__title span:nth-child(2) {
    flex: 1;
}

.body__nav__create--new--Category__title--down {
    padding-left: 20px;
    height: 1px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.body__nav__create--new--Category__title:hover {
    border-radius: 50px;
    background-color: #6f757a;
}

.body__action {
    width: calc(100% - 900px);
    position: fixed;
    left: 750px;
}

.body__action--title {
    padding-left: 20px;
}

.body__action--header {
    padding: 20px;
}

.body__action--content {
    padding: 20px;
    width: 100%;
}

.body__action--header--date--category span {
    padding-right: 10px;
}

.body__nav__create--delete {
    width: 270px;
    margin-bottom: 30px;
}

.body__nav__create--delete button {
    height: 33px;
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #313f46;
    color: white;
    border: none;
    outline: none;
}

.body__nav__create--title {
    min-width: 449px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    cursor: pointer;
    position: relative;
    left: 300px;
    height: calc(100vh - 71px);
}

.body__nav__create--title--name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    background: #f4f4f4 0% 0% no-repeat padding-box;
    height: 50px;
}

.body__nav__create--title--name span {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 50px;
}

.body__nav__create--title--name span:nth-child(2):hover {
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.body__nav__create--title--content {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
}

.body__nav__create--title--content:hover {
    background: #d9dfbc;
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#d9dfbc),
            color-stop(51%, rgba(53, 92, 208, 0.818365)),
            color-stop(100%, #dbd0ed),
            to(#722ccd));
    background: linear-gradient(90deg,
            #d9dfbc 0%,
            rgba(53, 92, 208, 0.818365) 51%,
            #dbd0ed 100%,
            #722ccd 100%);
}

.body__nav__create--title--content--name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 93%;
    padding: 10px;
}

.body__nav__create--title--content--name--content span {
    font-size: small;
    color: #959595;
    padding-right: 10px;
}

.body__nav__create--title--content--name--content p {
    font-size: large;
    color: #2b3137;
}

.body__nav__create--title--content--name--icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.body__nav__create--title--content--name--icon span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ffdfcc;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.body__nav__create--newclip {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 270px;
    height: 50px;
    cursor: pointer;
}

.body__nav__create--newclip span:nth-child(3) {
    border-radius: 40%;
    width: 40px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #454e55;
    font-size: 15px;
    margin-right: 10px;
}

.body__nav__create--newclip span:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 16px;
}

.body__nav__create--newclip span:nth-child(1) {
    padding-left: 26px;
    padding-right: 5px;
}

.body__nav__create--newclip:hover {
    border-radius: 50px;
    background-color: #6f757a;
}

.newNode {
    text-decoration: none;
}

.activeCategory {
    background-color: #2b3137;
    border-radius: 50px;
}

.active {
    border-left: 5px solid #fe721b;
}

.activeIcon {
    color: #fe721b;
}

.Memo-new>h1 {
    padding: 20px 0px 0px 20px;
}

.Memo-new__herder__data-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.Memo-new__herder {
    padding-top: 20px;
    padding-left: 20px;
}

.Memo-new__title {
    padding-left: 20px;
}

.Memo-new__content textarea {
    width: 95%;
    resize: none;
    border: 1px solid #cccccc;
    font-size: 25px;
}

.Memo-new__title h1 input:nth-child(1) {
    border: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 260px;
    height: 40px;
    font-size: 20px;
}

.Memo-new__content textarea {
    margin-top: 10px;
    height: 200px;
}

.Memo-new__content {
    padding-left: 20px;
    padding-top: 20px;
}

.Memo-new__herder__data-category section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.newNode {
    text-decoration: none;
}

.Memo-new {
    width: calc(100% - 900px);
    position: fixed;
    left: 759px;
    z-index: 999;
}

.Memo-new__herder__data-category input {
    width: 95%;
}

.Memo-new__herder__data-category section:nth-child(1) input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 260px;
    font-size: 20px;
}

.Memo-new__herder__data-category section:nth-child(2) input {
    width: 95%;
    border: none;
    height: 40px;
    border-bottom: 1px solid blue;
    font-size: 20px;
}

.activeHeight {
    height: 200px;
    overflow-y: unset;
    opacity: 1;
}

button {
    cursor: pointer;
}

#style::-webkit-scrollbar {
    width: 5px;
    height: 100px;
    box-sizing: content-box;
    background-color: #f5f5f5;
}

#style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #3f4146, #2d333b);
    -webkit-box-shadow: inset 0 0 1px 1px #5c6670;
    box-shadow: inset 0 0 1px 1px #5c6670;
}

#style::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391a6, #536175);
}

#style::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    -webkit-box-shadow: 0 0 1px 1px #ccc, inset 0 0 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px #ccc, inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.body__action-title {
    padding-top: 20px;
    padding-left: 20px;
}

.Memo-new__herder__data-category section {
    padding-bottom: 20px;
}

.Memo-new__herder__data-category section b {
    padding-bottom: 10px;
}

.body__nav__create--new>section {
    width: 270px;
}

.search {
    padding-top: 3px;
}

input {
    outline: none;
    border: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.body__nav__create--new--Category__title--down--content:hover {
    transform: scale(1.05);
    color: #e0c0c0;
    border-radius: 50px;
}

.down {
    margin-right: 25px;

    width: 10px;
    height: 10px;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 4px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 4px;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.activedown {
    transform: rotate(-314deg);
}

.sort {
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.sortactive {
    transform: rotate(180deg);
    transition: all 0.5s ease;
}

.cursorNotAllowed {
    cursor: not-allowed;
}

.pagination {
    position: absolute;
    top: calc(95%);
    right: 20px;
    list-style: none;
    display: flex;
}

.page-link {
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 30px;
    color: blueviolet;
    margin-right: 5px;
    border: none;
    border: 1px solid #cccccc;
}

button:focus {
    outline: 0;
}

.page-item {
    display: none;
}

.activepage {
    color: white;
    background-color: #868080;
}

.noneHistory {
    display: none;
}